body {
  font-family: arial, sans-serif;
  font-size  : 13px;
  color      : rgba(0, 0, 0, 0.87);
  font-weight: 400;
  margin     : auto;
}

ul {
  list-style-type: none;
  margin         : 0;
  padding        : 0;
  overflow       : hidden;
}

nav {
  display        : flex;
  flex-wrap      : nowrap;
  justify-content: space-between;
}

ul li {
  display: inline-block;
}

ul li a {
  color          : rgba(0, 0, 0, 0.87);
  line-height    : 24px;
  padding        : 14px 16px;
  text-decoration: none;
}

input[type="text"] {
  display      : block;
  margin       : auto;
  width        : 600px;
  line-height  : 40px;
  border       : 1px hsla(116, 0%, 93%, 1.00) solid;
  border-radius: 25px;
}

input[type="submit"] {
  margin-left: 130px;
  margin-top : 10px;
}

main div img {
  margin : auto auto auto 160px;
  padding: 10px;
}

.navImg {
  padding-top: 1px;
}

.centerPiece {
  margin    : auto;
  width     : 50%;
  padding   : 10px;
  margin-top: 150px;
}

footer {
  bottom          : 0;
  left            : 0;
  position        : absolute;
  right           : 0;
  background-color: #f2f2f2;
  border-top      : 1px solid #e4e4e4;
  line-height     : 40px;
  min-width       : 980px;
  display         : flex;
  flex-wrap       : nowrap;
  justify-content : space-between;
}